<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/dashboard.html}">
<head>
    <link rel="stylesheet" th:href="@{/resources/css/home.css}">
    <title>Manage Roles</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Roles</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>id</td>
                <td>name</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="role: ${roles}">
                <td><a href="#" th:href="@{/account/roles/} + ${role.id}" th:text="${role.id}">role_id</a> </td>
                <td th:text="${role.name}">role_name</td>
            </tr>
        </tbody>

    </table>
</div>
</body>
</html>